.lhc
  %h1 Recipes
  = categories({})

.rhc
  .home-section
    %h1 Recipe Search
    %form{:action => "", :method => "get"}
      %input{:name => "q", :type => "text", :tabindex => 1, :maxlength => 2048, :size => 15}
      %input{:type => "submit", :tabindex => 2, :value => "Search", :name => "b"}

  .home-section
    %h1 About Us
    %p We are a young family living in the Baltimore area. One day we decided to put our recipe box online. This is our family cookbook
    %p
      %a{:href => "/feedback"} Send us comments


.meals

  %h1 Meals
  - @meals.each do |meal|
    - date = Date.parse(meal['date'])
    %div{:class => "meal meal#{date.day % 2}"}
      %a{:href => date.strftime("/meals/%Y/%m/%d")}
        = image_link meal, :width => 200, :height => 150
      %h2
        %a{:href => date.strftime("/meals/%Y/%m/%d")}= meal["title"]
      %div= date.strftime("%B %e")
      = wiki(meal["summary"])

      - new_recipe_regexp = Regexp.new(date.strftime("%Y/%m/%d"))
      - new_recipes = meal["menu"].select{ |r| r =~ new_recipe_regexp }
      (
      %a{:href => date.strftime("/meals/%Y/%m/%d")}
        Read more&hellip;
      - if new_recipes.length > 0
        |
      %span.menu-items= wiki(new_recipes.join(", "))
      )
  .other-meals
    %i Older meals:
    - @older_meals.each do |meal|
      - date = Date.parse(meal['date'])
      %a{:href => date.strftime("/meals/%Y/%m/%d")}= meal["title"]
      ,
    - if @meals[0] && @meals[0]['date']
      - date = Date.parse(@meals[0]['date'])
      %a{:href => date.strftime("/meals/%Y/%m")} More&hellip;
