= categories(@recipes)

- date = Date.parse(@meal['date'])
.breadcrumbs
  = breadcrumbs(date, :day)

#search
  = partial :_search_form

%h1
  = @meal['title']

%div.navigation
  &lsaquo;
  =link_to_adjacent_view_date(@meal['date'], @meals_by_date, :previous => true) { |k, m| Date.parse(m['date']).strftime(%Q|<a href="/meals/%Y/%m/%d">#{m['title']} (%B %e, %Y)</a>|) }
  |
  =link_to_adjacent_view_date(@meal['date'], @meals_by_date) { |k, m| Date.parse(m['date']).strftime(%Q|<a href="/meals/%Y/%m/%d">#{m['title']} (%B %e, %Y)</a>|) }
  &rsaquo;

#summary
  = image_link @meal
  = wiki @meal['summary']

%ul#menu
  - @meal['menu'].each do |menu_item|
    %li= wiki(menu_item)

#description
  = wiki @meal['description']

%div
  %a{:href => "/feedback?url=#{Rack::Utils.escape(@url)}&subject=#{Rack::Utils.escape("[Meal] " + @meal['title'])}"} Send us feedback on this meal
