%ul#eee-categories
  %li= recipe_category_link(@recipes, 'Italian')
  %li= recipe_category_link(@recipes, 'Asian')
  %li= recipe_category_link(@recipes, 'Latin')
  %li= recipe_category_link(@recipes, 'Breakfast')
  %li= recipe_category_link(@recipes, 'Chicken')
  %li= recipe_category_link(@recipes, 'Fish')
  %li= recipe_category_link(@recipes, 'Meat')
  %li= recipe_category_link(@recipes, 'Salad')
  %li= recipe_category_link(@recipes, 'Vegetarian')
  %li
    %a Recipes


- date = Date.parse(@meal['date'])
.breadcrumbs
  = breadcrumbs(date, :day)

%h1
  = @meal['title']

%div.navigation
  &lsaquo;
  =link_to_adjacent_view_date(@meal['date'], @meals_by_date, :previous => true) { |d,v| Date.parse(d).strftime("#{v[1]} (%B %e, %Y)") }
  |
  =link_to_adjacent_view_date(@meal['date'], @meals_by_date) { |d,v| Date.parse(d).strftime("#{v[1]} (%B %e, %Y)") }
  &rsaquo;

#summary
  = wiki @meal['summary']

%ul#menu
  - @meal['menu'].each do |menu_item|
    %li= wiki(menu_item)

#description
  = wiki @meal['description']
