%h1= "Meals from #{@year}-#{@month}"

.meals
  - @meals["rows"].each do |meal|
    = image_link meal['value'][0], :width => 200, :height => 150
    %h2
      %span.date= meal['value'][0]['date']
      %span.title= meal['value'][0]['title']
    %p= meal['value'][0]['summary']
