= categories({})

- date = Date.parse("#{@month}-01")
.breadcrumbs
  = breadcrumbs(date, :month)

%h1= "Meals from #{month_text(@month)}"

%div.navigation
  =link_to_adjacent_view_date(@month, @count_by_year, :previous => true) { |d, v| %Q|<a href="/meals/#{d.gsub(/-/, '/')}">#{month_text(d)}</a>| }
  |
  =link_to_adjacent_view_date(@month, @count_by_year) { |d, v| %Q|<a href="/meals/#{d.gsub(/-/, '/')}">#{month_text(d)}</a>| }

#meals_by_month
  - @meals.each do |meal|
    .meal
      - date = Date.parse(meal['date'])
      = image_link meal, :width => 200, :height => 150
      %h2
        %span.date= meal['date']
        %a.title{:href => date.strftime("/meals/%Y/%m/%d")}= meal['title']
      %p= wiki(meal['summary'])
      .menu= wiki(meal['menu'].join(', '))
      %hr
