- date = Date.parse(@meal['date'])
.breadcrumbs
  = breadcrumbs(date, :day)

%h1
  = @meal['title']

#summary
  = wiki @meal['summary']

%ul#menu
  - @meal['menu'].each do |menu_item|
    %li= wiki(menu_item)

#description
  = wiki @meal['description']
