- date = Date.parse(@meal['date'])
.breadcrumbs
  %a{:href => "/meals/#{date.year}"}= date.year
  >
  %a{:href => "/meals/#{date.strftime("%Y/%m")}"}= date.strftime("%B")

%h1
  = @meal['title']

#summary
  = wiki @meal['summary']

%ul#menu
  - @meal['menu'].each do |menu_item|
    %li= wiki(menu_item)

#description
  = wiki @meal['description']
