= categories({})

- date = Date.parse("#{@year}-01-01")
.breadcrumbs
  = breadcrumbs(date, :year)

%h1= "Meals from #{@year}"

%div.navigation
  =link_to_adjacent_view_date(@year, @count_by_year, :previous => true)
  |
  =link_to_adjacent_view_date(@year, @count_by_year)

%ul.meals
  - @meals.each do |meal|
    -date = Date.parse(meal['date'])
    %li
      %a{:href => date.strftime("/meals/%Y/%m/%d")}= meal['title']
