%h1= "Meals from #{@year}-#{@month}"

%div.navigation
  =link_to_adjacent_view_date("#{@year}-#{@month}", @count_by_year, :previous => true)
  |
  =link_to_adjacent_view_date("#{@year}-#{@month}", @count_by_year)

.meals
  - @meals["rows"].each do |meal|
    = image_link meal['value'][0], :width => 200, :height => 150
    %h2
      %span.date= meal['value'][0]['date']
      %span.title= meal['value'][0]['title']
    %p= meal['value'][0]['summary']
    .menu= wiki(meal['value'][0]['menu'].join(', '))
