- date = Date.parse("#{@month}-01")
.breadcrumbs
  = breadcrumbs(date, :month)

%h1= "Meals from #{month_text(@month)}"

%div.navigation
  =link_to_adjacent_view_date(@month, @count_by_year, :previous => true) { |d,v| month_text(d) }
  |
  =link_to_adjacent_view_date(@month, @count_by_year) { |d,v| month_text(d) }

.meals
  - @meals["rows"].each do |meal_result|
    - meal = meal_result['value'][0]
    - date = Date.parse(meal['date'])
    = image_link meal, :width => 200, :height => 150
    %h2
      %span.date= meal['date']
      %a.title{:href => date.strftime("/meals/%Y/%m/%d")}= meal['title']
    %p= meal['summary']
    .menu= wiki(meal['menu'].join(', '))
