- date = Date.parse(@meal['date'])
.breadcrumbs
  = breadcrumbs(date, :day)

%h1
  = @meal['title']

%div.navigation
  =link_to_adjacent_view_date(@meal['date'], @meals_by_date, :previous => true)
  |
  =link_to_adjacent_view_date(@meal['date'], @meals_by_date)

#summary
  = wiki @meal['summary']

%ul#menu
  - @meal['menu'].each do |menu_item|
    %li= wiki(menu_item)

#description
  = wiki @meal['description']
