- date = Date.parse(@meal['date'])
.breadcrumbs
  = breadcrumbs(date, :day)

%h1
  = @meal['title']

%div.navigation
  &lsaquo;
  =link_to_adjacent_view_date(@meal['date'], @meals_by_date, :previous => true) { |d,v| Date.parse(d).strftime("#{v[1]} (%B %e, %Y)") }
  |
  =link_to_adjacent_view_date(@meal['date'], @meals_by_date) { |d,v| Date.parse(d).strftime("#{v[1]} (%B %e, %Y)") }
  &rsaquo;

#summary
  = wiki @meal['summary']

%ul#menu
  - @meal['menu'].each do |menu_item|
    %li= wiki(menu_item)

#description
  = wiki @meal['description']
