= categories(@recipe)

.breadcrumbs
  = breadcrumbs(Date.parse(@recipe['date']))

#search
  = partial :_search_form

%h1
  = @recipe['title']

#summary
  = image_link @recipe
  = wiki @recipe['summary']

%div.navigation
  &lsaquo;
  =link_to_adjacent_view_date(@recipe['date'], @recipes_by_date, :previous => true) { |k, r| Date.parse(r['date']).strftime(%Q|<a href="/recipes/#{r['id']}">#{r['title']} (%B %e, %Y)</a>|) }
  |
  =link_to_adjacent_view_date(@recipe['date'], @recipes_by_date) { |k, r| Date.parse(r['date']).strftime(%Q|<a href="/recipes/#{r['id']}">#{r['title']} (%B %e, %Y)</a>|) }
  &rsaquo;

#recipe-meta
  .recipe-stats
    %h2= "Servings and Times"
    %div
      %span.label Serves:
      = @recipe['serves']
    %div
      %span.label Preparation Time:
      = hours(@recipe['prep_time'])
    - if @recipe['inactive_time']
      %div
        %span.label Inactive Time:
        = hours(@recipe['inactive_time'])
    - if @recipe['cook_time']
      %div
        %span.label Cooking Time:
        = hours(@recipe['cook_time'])

  - if @recipe['tools']
    .recipe-tools
      %h2= "Tools and Appliances"
      %ul
        - @recipe['tools'].each do |tool|
          %li
            %a{:href => amazon_url(tool['asin'])}
              = tool['title']
      %div{:style => 'text-align:right'}
        Links Provided By
        %a{:href => "http://www.amazon.com/exec/obidos/redirect?tag=#{AMAZON_ASSOCIATE_ID}"}
          %img{:src => "/images/amazon-126X32-w-logo.gif",
               :border => 0}

%div
  = recipe_updated_by(@recipe['_id'])

%div
  = recipe_update_of(@recipe['_id'])
#recipe-alternates
  = alternate_preparations(@recipe['_id'])

- if @recipe['preparations']
  %h2= "Ingredients"
  %ul.preparations
    - @recipe['preparations'].each do |preparation|
      %li.ingredient
        %span.quantity
          = preparation['quantity'].to_f.to_s
        %span.unit
          = preparation['unit']
        %span.kind
          = wiki(preparation['ingredient']['kind'], false)
        %span.name
          = wiki(preparation['ingredient']['name'], false)
        - if preparation['brand'] =~ /\S/
          %span.brand{:title => 'brand used'}
            = "(" + preparation['brand'] + ")"

#instructions
  = wiki @recipe['instructions']

%div
  %a{:href => "/feedback?url=#{Rack::Utils.escape(@url)}&subject=#{Rack::Utils.escape("[Recipe] " + @recipe['title'])}"} Send us feedback on this recipe
%div
  = google(@recipe['title']) + " recipes"
%div
  Find cookbooks from
  =" "
  %a{:href => "http://www.amazon.com/exec/obidos/redirect-home/#{AMAZON_ASSOCIATE_ID}"}><
    Amazon.com
  \:
  =" "
  = (@recipe['tag_names'] || []).map{|tag| amazon_cookbook(tag)}.join(", ")

=google_ads
