%h1
  = @recipe['title']

.eee-recipe-meta
  %div= "Preparation Time: " + hours(@recipe['prep_time'])
  - if @recipe['inactive_time']
    %div= "Inactive Time: " + hours(@recipe['inactive_time'])


- if @recipe['preparations']
  %ul.preparations
    - @recipe['preparations'].each do |preparation|
      %li.ingredient
        %span.quantity
          = preparation['quantity']
        %span.unit
          = preparation['unit']
        %span.kind
          = preparation['ingredient']['kind']
        %span.name
          = preparation['ingredient']['name']
        - if preparation['brand']
          %span.brand
            = "(" + preparation['brand'] + ")"
