%ul#eee-categories
  %li= recipe_category_link(@recipe, 'Italian')
  %li= recipe_category_link(@recipe, 'Asian')
  %li= recipe_category_link(@recipe, 'Latin')
  %li= recipe_category_link(@recipe, 'Breakfast')
  %li= recipe_category_link(@recipe, 'Chicken')
  %li= recipe_category_link(@recipe, 'Fish')
  %li= recipe_category_link(@recipe, 'Meat')
  %li= recipe_category_link(@recipe, 'Salad')
  %li= recipe_category_link(@recipe, 'Vegetarian')
  %li
    %a Recipes

%h1
  = @recipe['title']

.eee-recipe-meta
  %div= "Preparation Time: " + hours(@recipe['prep_time'])
  - if @recipe['inactive_time']
    %div= "Inactive Time: " + hours(@recipe['inactive_time'])

- if @recipe['tools']
  .eee-recipe-tools
    %h2= "Tools and Appliances Used"
    %ul
      - @recipe['tools'].each do |tool|
        %li
          %a{:href => amazon_url(tool['asin'])}
            = tool['title']

- if @recipe['preparations']
  %ul.preparations
    - @recipe['preparations'].each do |preparation|
      %li.ingredient
        %span.quantity
          = preparation['quantity']
        %span.unit
          = preparation['unit']
        %span.kind
          = preparation['ingredient']['kind']
        %span.name
          = preparation['ingredient']['name']
        - if preparation['brand']
          %span.brand
            = "(" + preparation['brand'] + ")"
