= categories(@recipe)

.breadcrumbs
  = breadcrumbs(Date.parse(@recipe['date']))

%h1
  = @recipe['title']

#summary
  = image_link @recipe
  = wiki @recipe['summary']

.recipe-meta
  %div= "Preparation Time: " + hours(@recipe['prep_time'])
  - if @recipe['inactive_time']
    %div= "Inactive Time: " + hours(@recipe['inactive_time'])

- if @recipe['tools']
  .recipe-tools
    %h2= "Tools and Appliances Used"
    %ul
      - @recipe['tools'].each do |tool|
        %li
          %a{:href => amazon_url(tool['asin'])}
            = tool['title']

- if @recipe['preparations']
  %ul.preparations
    - @recipe['preparations'].each do |preparation|
      %li.ingredient
        %span.quantity
          = preparation['quantity']
        %span.unit
          = preparation['unit']
        %span.kind
          = preparation['ingredient']['kind']
        %span.name
          = preparation['ingredient']['name']
        - if preparation['brand'] =~ /\S/
          %span.brand
            = "(" + preparation['brand'] + ")"

#instructions
  = wiki @recipe['instructions']

%div
  %a{:href => "/feedback?url=#{Rack::Utils.escape(@url)}&subject=#{Rack::Utils.escape("[Recipe] " + @recipe['title'])}"} Send us feedback on this recipe
