%table
  %tr
    %th
      = sort_link("Name", "sort_title", @query, @results)
      = sort_link("Date", "sort_date",  @query, @results)
    %th= "Date"
  - @results['rows'].each_with_index do |result, i|
    %tr{:class => "row#{i % 2}"}
      %td
        %a{:href => "/recipes/#{result['_id']}"}= result['title']
      %td= result['date']

= pagination(@query, @results)
