%table
  %tr
    %th= "Name"
    %th= "Date"
  - @results.each_with_index do |result, i|
    %tr{:class => "row#{i % 2}"}
      %td
        %a{:href => "/recipes/#{result['_id']}"}= result['title']
      %td= result['date']

= pagination(@skip, @limit, @total)
