= categories({})

%form{:method => "get", :action => "/recipes/search"}
  %input{:type      => "text",
         :value     => @query,
         :name      => "q",
         :size      => 31,
         :maxlength => 2048}
  %input{:type  => "submit",
         :value => "Search",
         :name  => "s"}


%table
  %tr
    %th
      = sort_link("Name", "sort_title", @results, :query => @query)
    %th
      = sort_link("Date", "sort_date",  @results, :query => @query, :reverse => true)
    %th
      = sort_link("Prep", "sort_prep", @results, :query => @query)
    %th
      = sort_link("Ingredients", "sort_ingredient", @results, :query => @query)
  - @results['rows'].each_with_index do |result, i|
    %tr{:class => "row#{i % 2}"}
      %td
        %a{:href => "/recipes/#{result['_id']}"}= result['title']
      %td
        %span.date= result['date']
      %td
        %span.prep= result['prep_time'].to_i
      %td
        %span.ingredients= result['ingredient']

= pagination(@query, @results)
