%table
  %tr
    %th
      %a{:href => "/recipes/search?q=foo&sort=name" } Name
    %th= "Date"
  - @results['rows'].each_with_index do |result, i|
    %tr{:class => "row#{i % 2}"}
      %td
        %a{:href => "/recipes/#{result['_id']}"}= result['title']
      %td= result['date']

= pagination(@query, @results)
